# ================= Python =================
__pycache__/
*.py[cod]
*$py.class

# ================= Virtual Environment =================
venv/
env/
.venv/

# ================= Node / React =================
node_modules/
build/
dist/

# ================= Environment Variables =================
.env

# ================= OS Files =================
.DS_Store
Thumbs.db

# ================= Logs =================
*.log

# ================= IDE =================
.vscode/
.idea/

# ================= Flask =================
instance/
